/* Copyright 2023, 2025 StatblockWizard */
.vieweroptionstext {
    font-size: larger;
    font-weight: bold;
    vertical-align: bottom;
    margin-left: 15px;
    margin-right: 3px;
}

.StatblockWizardViewerContent {
    overflow-y: hidden;
    overflow-x: auto;
}