/* This file is provided as-is, without any warranty. You are free to copy, modify, and redistribute as you see fit. */

:root {
    --StatblockWizardmonstername: #a00000;
    --StatblockWizardscreenborder: #a00000;
    --StatblockWizardtext: #020202;
}

.StatblockWizard {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    color: var(--StatblockWizardtext);
    columns: 2;
    width: 170mm;
    break-inside: avoid-page;
    clear: both;

    font-size: 0.7em;
    font-weight: 300;
    font-kerning: auto;
    border-width: 10px;
    border-style: solid;
    border-image-slice: 10% fill;
    border-image-width: auto;
    border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEuSURBVHhe7d0xTkJREEDRh7+iIbG2ImGxLtI9mNhYEYSfjwG1ErjVOcnLm2nvBmbQWC3/4fguZ2531fZX3M2Yxvvn27LxH8/r3fgY+3k+9TzOq6fz8jpe5sd9/Ow5h+bxhI4IHRE6InRE6IjQEaEjQkeEjggdEToidEToiNARoSNCR4SOCB0ROiJ0ROiI0BGhI0JHhI4IHRE6InRE6IjQEaEjQkeEjggdEToidEToiNARoSNCR4SOCB0ROiJ0ROiI0BGhI0JHhI4IHRE6InRE6IjQEaEjQkeEjggdEToidEToiNARoSNCR4SOCB0ROiJ0ROiI0BGhI0JHhI4IHRE6InRE6IjQEaEjQkeEjggdmY/7bsZ0uDxG67jvbab1dpm+XV1Rdq76vv5qy2ON8QVSYBdKd2v5fgAAAABJRU5ErkJggg==");
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.StatblockWizard-SingleColumn {
    columns: 1;
    min-width: 100px;
    width: 85mm;
}

.StatblockWizard-Content {
    position: relative;
}

.StatblockWizard-Transparent {
    border-image-source: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAYAAAA4qEECAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEMSURBVHhe7d27DcJAEEDBA3IaoGG6BnOyECBnxi+akfY+6WtgB43Tej+W+Xyz31bb+ZlzHRehd1obfvU8v47lM+7jNof/+O05Q3M8oSNCR4SOCB0ROiJ0ROiI0BGhI0JHhI4IHRE6InRE6IjQEaEjQkeEjggdEToidEToiNARoSNCR4SOCB0ROiJ0ROiI0BGhI0JHhI4IHRE6InRE6IjQEaEjQkeEjggdEToidEToiNARoSNCR4SOCB0ROiJ0ROiI0BGhI0JHhI4IHRE6InRE6IjQEaEjQkeEjggdEToidEToiNARoSNCR4SOCB0ROiJ0ROiI0BGhI0KXtpbRssu75zrWVR9oc101hxrjCaP8GY01jQ67AAAAAElFTkSuQmCC");
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.StatblockWizard-keyword {
    font-weight: bold;
}

.StatblockWizard-nbspbefore::before,
.StatblockWizard-nbspafter::after,
.StatblockWizard-keyword::after {
    content: '\0000a0';
}

.StatblockWizard-title {
    font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
    font-variant: small-caps;
    font-weight: bold;

    color: var(--StatblockWizardmonstername);
    padding: 0;
    margin: 0;
}

.StatblockWizard-sizetypealignment {
    /* deprecated */
    font-style: italic;

    margin-top: 0;
    margin-bottom: 3px;
    padding-bottom: 2px;
    border-bottom: 2px var(--StatblockWizardscreenborder) solid;
}

.StatblockWizard-sizetypetagsalignment {
    font-style: italic;

    margin-top: 0;
    margin-bottom: 3px;
    padding-bottom: 2px;
}

.StatblockWizard-general, .StatblockWizard-general2 {
    break-inside: avoid;

    border-top: none;
    border-bottom: 2px var(--StatblockWizardscreenborder) solid;
    border-left: none;
    border-right: none;
}

.StatblockWizard-abilities {
    box-sizing: border-box;
    break-inside: avoid;

    display: flex;
    flex-grow: initial;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    clear: both;
    border-top: none;
    border-bottom: 2px var(--StatblockWizardscreenborder) solid;
    border-left: none;
    border-right: none;
}

.StatblockWizard-ability {
    display: block;
    text-align: center;
    box-sizing: border-box;
    break-inside: inherit;

    max-width: 16.65%;
    padding: 1px 4px;
    margin-top: 3px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3px;
}

.StatblockWizard-abilityname {
    font-weight: bold;
    text-align: center;
}

.StatblockWizard-abilitymodifier::before {
    content: '\0000a0(';
}

.StatblockWizard-abilitymodifier::after {
    content: ')';
}

.StatblockWizard-features {
    border-bottom: 2px var(--StatblockWizardscreenborder) solid;
    margin-bottom: 2px;
    break-inside: avoid-column;
}

.StatblockWizard-feature {
    text-indent: -1em;
    padding-left: 1em;

    margin-top: 1px;
    margin-bottom: 2px;
}

.StatblockWizard-crproficiency {
    text-indent: 0;
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.StatblockWizard-cr {
    margin-right: 3px !important;
    break-inside: avoid;
    break-after: auto;
}

.StatblockWizard-proficiency {
    break-inside: avoid;
}

.StatblockWizard-sectionheader {
    font-variant: small-caps;
    font-size: 1.4em;
    break-inside: avoid;
    break-after: avoid;

    width: 100%;
    margin-top: 10px;
    margin-bottom: 1px;
    border-bottom: 1px var(--StatblockWizardscreenborder) solid;
}

.StatblockWizard-characteristics {
    border-bottom: 2px var(--StatblockWizardscreenborder) solid;
    margin-bottom: 2px;
    break-inside: avoid-column;
}

.StatblockWizard-sectionheader+.StatblockWizard-line {
    break-before: avoid;
}

.StatblockWizard-line {
    margin-top: 5px;
    margin-bottom: 2px;
}

.StatblockWizard-line+.StatblockWizard-text {
    text-indent: 1em;
    margin-top: 2px;
    margin-bottom: 2px;
}

.StatblockWizard-sectionheader+.StatblockWizard-line {
    margin-top: 2px;
}

.StatblockWizard-attack,
.StatblockWizard-hit {
    font-style: italic;
}

.StatblockWizard-hit::before {
    content: ' ';
}

.StatblockWizard-attack::after,
.StatblockWizard-hit::after {
    content: '\0000a0';
}

.StatblockWizard-detailline {
    text-indent: -1em;
    padding-left: 1em;
    margin: 0;
}

.StatblockWizard-namedstring .StatblockWizard-keyword,
.StatblockWizard-weapon .StatblockWizard-keyword {
    font-style: italic;
}

.StatblockWizard-spellliststart::after {
    content: '\0000a0';
}

.StatblockWizard-spell {
    font-style: italic;
    break-before: avoid-column;
}

.StatblockWizard-list-ol {
    margin-top: 0;
    padding: 0 0 0 1em;
    list-style-type: decimal;
    list-style-position: outside;
    break-before: avoid-column;
}

.StatblockWizard-list-ul {
    margin-top: 0;
    padding: 0 0 0 1em;
    list-style-type: disc;
    list-style-position: outside;
    break-before: avoid-column;
}

dl.StatblockWizard-list {
    margin-top: 5px;
    margin-bottom: 2px;
}

.StatblockWizard-line+dl.StatblockWizard-list {
    margin-top: 2px;
}

dt.StatblockWizard-keyword,
dt.StatblockWizard-spellliststart {
    float: left;
    clear: left;
}

dt.StatblockWizard-keyword::after {
    content: '\0000a0';
}

dd.StatblockWizard-listitem,
dd.StatblockWizard-spelllist {
    margin-left: 1em;
}

li.StatblockWizard-listitem::marker {
    content: counter(list-item) ": ";
}

.StatblockWizard-supplemental {
    width: 100%;
}

.StatblockWizard-image {
    display: block;
    border: none;
    padding: 0;
    max-width: 60mm;
    margin: 0 auto;
}

.StatblockWizard-image-left {
    margin: 0 auto 0 0;
}

.StatblockWizard-image-right {
    margin: 0 0 0 auto;
}

.StatblockWizard hr {
    margin: 2px 0;
    border-style: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px var(--StatblockWizardscreenborder) solid;
}

.StatblockWizard-token {
    position: absolute;
    max-height: 24mm;
    max-width: 24mm;
    right: 0;
    top: 0;
    margin: 0;
}